<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F85A9F427F324E0000A94D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF1DC5327C448750019EA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF1DC6927C448770019EA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF1DC7327C448770019EA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
